.kaufman {
  z-index: 0;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  padding: 90px 0;
  position: relative;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url(/how-to-learn/images/kaufman-triangle.svg);
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  right: -210px;
  top: 0px;
  background-size: cover;
  animation: rotation 20s infinite linear;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.table__cell_theme_dark {
  width: 200px;
  margin-bottom: 0;
  margin-top: 80px;
}

.table__text_theme_dark {
  margin: 0;
  margin-top: 20px;
}
