.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  right: -210px;
  top: 0px;
  background-size: cover;
}
