* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  flex-direction: column;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place-header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  display: flex;
  width: 730px;
  padding-left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 102px;
  font-weight: 600px;
}

.header__subtitle {
  z-index: 2;
  position: absolute;
  width: 338px;
  bottom: 30px;
  left: 64px;
  font-weight: 25px;
  font-size: 18px;
  font-style: normal;
}

.header__link,
.feynman-link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
}

.header__square-pic {
  z-index: 0;
  display: flex;
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  align-self: flex-end;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.two-columns__brief_text {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  margin-top: 0;
}

.second_paragraph {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.digits {
  font-size: 100%;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 1.15;
  font-style: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 1100px;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  width: 250px;
}

.table__cell:nth-child(2) {
  margin-bottom: 60px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text,
.table__text-bank {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feynman {
  height: 100vh;
  position: relative;
  background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
}

.feynman-title {
  padding-top: 100px;
  width: 648px;
  text-align: center;
  margin: auto;
  font-size: 120px;
}

.feynman-subtitle {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
}

.feynman-subtitle,
.feynman-link {
  font-size: 36px;
  line-height: 51px;
  font-style: normal;
}

.feynman-link {
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  z-index: 0;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  right: -210px;
  top: 0px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-bottom: 0px;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  align-content: space-between;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;
}

.logo_place_footer {
  display: flex;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}

.column-link {
  display: flex;
  justify-content: baseline;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-links {
  padding-left: 0;
  list-style: none;
}

.footer__column-heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-style: 600;
  font-weight: normal;
}

.footer__social-icon {
  size: 16px 16px;
  margin-right: 10px;
}
